<div class="row exta-margin-nav">

  <div class="col-md-12">
    <ul class="pabx-nav nav nav-tabs faq-cat-tabs">
        <li routerLinkActive="active">
            <a routerLink='/pabx/entities' routerLinkActive="active">Entities</a>
          </li>
      <li routerLinkActive="active">
        <a routerLink='/pabx/free-address' routerLinkActive="active">Free Address</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink='/pabx/pcs-Address' routerLinkActive="active">Pcs Address</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink='/pabx/routingTable' routerLinkActive="active">Routing</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink='/pabx/softpack' routerLinkActive="active">Soft Pack</a>
      </li>

      <li routerLinkActive="active">
        <a routerLink='/pabx/tsc-Ip-attendent' routerLinkActive="active">Tsc Ip</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink='/pabx/tsc-Ip-user' routerLinkActive="active">Tsc Ip User</a>
      </li>

      <li routerLinkActive="active">
        <a routerLink='/pabx/trunk' routerLinkActive="active">Trunck Gr.</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink='/pabx/user-all-nodes' routerLinkActive="active">Users</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink='/pabx/topology' routerLinkActive="active">Topology</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink='/pabx/xlsheet' routerLinkActive="active">XL Sheets</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink='/pabx/configuration-info' routerLinkActive="active">Switch Info</a>
      </li>
      <!-- <li routerLinkActive="active">
        <a routerLink='/pabx/external-lines' routerLinkActive="active">External lines</a>
      </li> -->
    </ul>
  </div>
</div>
