.bottomTitle{
    color: red;
}

@media print{
    .print3{
        width: 25%;        
    }
    .print4{
        width: 33.33%;
    }
    .print8{
        width: 66.66%;
    }
    .print12{
        width: 100%;
    }
}