/* .blkfrm{
    margin-top: 6%;
} */

.blkfrm .table-header-margin {
    margin-left: 0 !important;
}

.blkfrm .btn {
    margin: 1%;
}

.blkfrm .whitebc {
    background-color: transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.blkfrm .left-align {
    text-align: left !important;
}

.blkfrm .container {
    width: 100% !important;
    margin-left: none;
}

.blkfrm .plr-0 {
    padding-left: 0;
    padding-right: 0;
}

.blkfrm .pull-right {
    float: right;
}

.blkfrm .ml-2 {
    margin-left: 2% !important;
}

.blkfrm .mtb-0 {
    margin-top: 0;
    margin-bottom: 10 px;
}

.blkfrm .mb-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1%;
}

.blkfrm .ftlt {
    float: left;
    margin-left: 2% !important;
}

.blkfrm .ftrt {
    float: right;
    margin-right: 2% !important;
}

.blkfrm .groups {
    color: #700909;
}

.blkfrm .line {
    box-sizing: border-box;
    height: 1px;
    border: 1px solid #D1CECE;
}