.add-page-container {
    border-radius: 3px;
  background-color: #FFFFFF;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 2%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);

}

.page-padding{
    padding: 15px 10px 15px 10px;
}
.line {	box-sizing: border-box;
        border: 1px solid #D1CECE;
    }
  