.pabentities .tbl-employee.table>tbody>tr>th {
    border-top: none !important;
}

.container-fluid {
    min-height: 100vh;
}

.pabentities {
    margin-left: 2% !important;
    margin-right: 2% !important;
}

.pabentities .card {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 2%;
}

.pabentities .clr-anch {
    margin-left: 2%;
    cursor: pointer;
}

.pabentities .header {
    margin-top: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
    background-color: #f1efef;
    padding-top: 2%;
}

.pabentities .srcrow {
    margin-right: 0;
    margin-left: 0;
    margin-top: 2%;
}

.pabentities .wd-80 {
    width: 80%
}

.pabentities .wd-100 {
    width: 100%;
}

.pabentities .drop-down {
    border-radius: 5px;
    height: 6vh;
}

.pabentities .custom {
    margin-top: 3%;
    font-size: 2rem;
    float: right;
}

.pabentities .vertical-line {
    width: 2px;
    border: 1px solid black;
}

.pabentities .add-anch {
    margin-left: 4%;
    margin-right: 2%;
    cursor: pointer;
}

.pabentities .mt-3 {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.pabentities .primary {
    color: #fff;
    background-color: #76102B;
    border: 0;
    border-radius: 5px;
    height: 5vh;
    width: 35%;
}

.pabentities .Pagename {
    background: transparent;
    margin: 0;
}

.pabentities .pl-0{
    padding-left: 0;
}

.pabentities .ftrt {
    text-align: right;
}

.pabentities .fixed-1 {
    left: 7% !important;
    min-width: 70px !important;
    text-align: left;
    font-weight: bolder;
    padding: 5px 20px !important;
    width: fit-content !important;
    position: absolute;
}

.fix-top {
    font-size: 1.2em !important;
    height: 8vh;
    line-height: 4.15em !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .pabentities .fix-top {
        font-size: 1.2em !important;
        height: 8vh;
        line-height: 2.8em !important;
    }
}

.pabentities .ng2-pagination {
    border-top: none !important;
}

.pabentities .fixed-2 {
    position: absolute;
    left: 12% !important;
    min-width: 70px !important;
    text-align: left;
    font-weight: bolder;
    padding: 5px 20px !important;
    width: fit-content !important;
}

.pabentities .btn-primary {
    color: #fff !important;
    background-color: #76102B !important;
    height: 5vh;
}

.pabentities #tableContainer {
    margin-left: 18% !important;
}

.pabentities .h-6 {
    height: 6vh;
}

@media only screen and (max-height: 700px){
    .pabentities .mt-6 {
        margin-top: 3%;
    }
}
@media only screen and (min-height: 850px) and (max-height: 700px){
    .pabentities .mt-6 {
        margin-top: 3%;
    }
}
@media only screen and (min-height: 950px) and (max-height: 850px){
    .pabentities .mt-6 {
        margin-top: 4%;
    }
}
@media only screen and (min-height: 1050px) and (max-height: 950px){
    .pabentities .mt-6 {
        margin-top: 6%;
    }
}

.pabentities .fixed-ar-1{
    left: 2% !important;
    min-width: 70px !important;
    text-align: left;
    font-weight: bolder;
    padding: 5px 20px !important;
    width: fit-content !important;
    position: absolute;
}

.pabentities .fixed-ar-2{
    position: absolute;
    left: 6% !important;
    min-width: 70px !important;
    text-align: left;
    font-weight: bolder;
    padding: 5px 20px !important;
    width: fit-content !important;
}

@media only screen  and (min-width : 1824px) {
    .pabentities .mt-6 {
        margin-top: 6%;
    }
    .pabentities #tableContainer{
        margin-left: 15% !important;
    }
    .pabentities .custom{
        margin-top: 6%;
    }
    .pabentities .wd-80{
        width: 87%;
    }
    }

    @media only screen and (min-height: 1000px) and (max-height: 1200px){
        .pabentities .drop-down {
            height: 4vh;
        }
        .pabentities .primary {
            height: 3.5vh;
        }
        .pabentities .mt-3 {
            margin-top: 0.25vh;
            margin-bottom: 0.25vh;
        }
        .pabentities .btn-primary {
            height: 3.5vh;
        }
    }